<div class="chat-container">
    <div class="chat-messages" id="messages"></div>
    <div class="chat-input-area">
        <input type="text" class="chat-input" id="chatInput" placeholder="Type your message...">
        <button class="btn btn-primary">Send</button>
    </div>
</div>
